<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-temas">Descubre entre otros temas:</h3>
        </div>
    </div>
    <div class="row d-flex flex-column">
        <div class="col item-tema">
            <div class="col-sm-1 col-md-1">
                <img [src]="estrategia" alt="Estrategia">
            </div>
            <div class="col">
                <p class="text-tema">Estrategia</p>
            </div>
        </div>
        <div class="col item-tema">
            <div class="col-sm-1 col-md-1 img-pl">
                <img [src]="tecnologias" alt="Tecnologias">
            </div>
            <div class="col">
                <p>Selección de tecnologías</p>
            </div>
        </div>
        <div class="col item-tema">
            <div class="col-sm-1 col-md-1">
                <img [src]="analisis" alt="Análisis de procesos">
            </div>
            <div class="col">
                <p>Análisis de procesos en la industria 4.0</p>
            </div>
        </div>
        <div class="col item-tema">
            <div class="col-sm-1 col-md-1">
                <img [src]="ruta" alt="Hoja de ruta">
            </div>
            <div class="col">
                <p>Hoja de ruta para una implementación exitosa</p>
            </div>
        </div>
        <div class="col item-tema">
            <div class="col-sm-1 col-md-1">
                <img [src]="hacer" alt="Qué hacer">
            </div>
            <div class="col">
                <p>Qué hacer para obtener el máximo aprovechamiento</p>
            </div>
        </div>
    </div>
</div>