<div class="container mb-5 animate__animated animate__fadeIn animate__delay-3s">
    <div class="row ">
        <div class="col">
            <h3 class="text-mtro">
                Impartido por <br> Mtro. Rosalino Zamorano
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-4 ">
            <div class="target w30">
                <div class="linea"></div>
                <div class="cont-target">
                    <img src="../../../../assets/mockup/imagenes/Estrella.png" alt="Estrella">
                    <p class="text-center">Amplia experiencia como <br> Directos de Tecnologías de la información</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flechas">
                <div class="col flecha-item ">
                    <img src="../../../../assets/mockup/imagenes/Flecha.png" alt="Flecha">
                    <p>Administracion de servicios de TI, recursos informáticos y contratos de servicios en sede principal y 5 subseder (INTRANET)
                    </p>
                </div>
                <div class="col flecha-item">
                    <img src="../../../../assets/mockup/imagenes/Flecha.png" alt="Flecha">
                    <p>Consolidación de implementación del ERP BAAN V
                    </p>
                </div>
                <div class="col flecha-item">
                    <img src="../../../../assets/mockup/imagenes/Flecha.png" alt="Flecha">
                    <p>Diseño y construcción de los MDF's de la INTRANET
                    </p>
                </div>
                <div class="col flecha-item">
                    <img src="../../../../assets/mockup/imagenes/Flecha.png" alt="Flecha">
                    <p>Migración de operacion critica de Data Center Comercial
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-4">
            <div class="target w30">
                <div class="linea"></div>
                <div class="cont-target">
                    <img src="../../../../assets/mockup/imagenes/Estrella.png" alt="Estrella">
                    <p class="text-mod">Ingeniero en proyectos de Implementación de ERP BAAN V y diseño e implementación de red de comunicaciones y telecomunicaciones CIDESI
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="target w50">
                <div class="linea"></div>
                <div class="cont-target">
                    <img src="../../../../assets/mockup/imagenes/Estrella.png" alt="Estrella">
                    <ul>
                        <li>Gerente de cómputo y comunicaciones</li>
                        <li>Gerente de desarrollo de software</li>
                        <li>Desarrollador de sistemas</li>
                        <li>Administrador de Redes y Equipos de Cómputo</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>