<div class="cont-general">
    <div class="container-fluid cont-banner animate__animated animate__fadeIn">
        <app-seccion-banner></app-seccion-banner>
    </div>
    <div class="container-fluid ">
        <app-seccion-mtro-rosalino></app-seccion-mtro-rosalino>
    </div>
    <div class="container-fluid bg-white ">
        <app-seccion-evento-gratuito></app-seccion-evento-gratuito>
    </div>
    <div class="container-fluid mb-5 pb-3 animate__animated animate__fadeIn animate__delay-5s">
        <div class="container">
            <div class="row">
                <div class="col">
                    <app-seccion-video></app-seccion-video>
                    <app-seccion-temas></app-seccion-temas>
                </div>
                <div class="col">
                    <app-seccion-formulario></app-seccion-formulario>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-azul ">
        <app-seccion-bottom></app-seccion-bottom>
    </div>

</div>