<div class="container animate__animated animate__fadeIn animate__delay-4s">
    <div class="row">
        <div class="col col-md-5 m-auto">
            <h3 class="text-evento"><strong>Evento gratuito</strong> dirigido a profesionales de la industria</h3>
        </div>
    </div>
    <div class="row d-flex">
        <div class="col item-evento">
            <div class="linea"></div>
            <p class="p-evento">
                "Nuestro mercado es global, pero nuestra competencia tambien esta de ese tamaño"
            </p>
        </div>
        <div class="col item-evento">
            <div class="linea"></div>
            <p class="p-evento">
                "Agilidad en los procesos, ventaja competitiva en desarrollo de productos y eficiente aplicación de los recursos con mejor ROI"
            </p>
        </div>
        <div class="col item-evento">
            <div class="linea"></div>
            <p class="p-evento">
                "La Transformación Digital provoca que todo sea más rápido y eficiente"
            </p>
        </div>
    </div>
</div>