<div class="container ">
    <div class="row contenedor-1">
        <div class="col animate__animated animate__fadeInDownBig animate__slow">
            <h1 class="titulo-banner">
                ¿Eres Director o Gerente de Empresa, de Ingeniería o de Tecnologías de Información?
            </h1>
            <div class="col cont-texto-banner">
                <p class="texto-banner">
                    En esta Masterclass podrás contar con una <strong>GUÍA</strong> del proyecto para su transformación. Además, contarás con el <strong>ANÁLISIS</strong> de procesos, selección de <strong>TECNOLOGÍAS</strong> y su <strong>ESTRATEGIA</strong>                    para implementarla.
                </p>
            </div>
        </div>
    </div>
    <div class="row contenedor-2">
        <div class="col d-flex justify-content-end">
            <div class="col-md-4 d-flex align-items-end">
                <div class="col cont-info">
                    <div class="col d-flex justify-content-center">
                        <img class="img-masterclass" src="../../../../assets/mockup/imagenes/Logo-masterClass.png" alt="Logo masterclass">
                    </div>
                    <h3 class="text-titulo">TRANSFORMACIÓN <br> <span class="text-digital">DIGITAL</span></h3>
                    <p class="text-mtro">Impartida por el Mtro. Rosalino Zamorano</p>
                    <p class="text-horario">Martes 08 de junio <br> Vía ZOOM</p>
                    <div class="col d-flex justify-content-center">
                        <a routerLink="#registroUser" class="btn primary-color-A btn-primary">Registrarme ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>