<div class="cont-home animate__animated animate__fadeIn animate__slow">
    <div class="col-md-12 py-5 d-flex flex-column align-items-center">
        <div class="card my-3">
            <div class="card-header">
                Prueba técnica - Omar de jesus jimenez solano
            </div>
            <div class="card-body">
                <h5 class="card-title">Mockup</h5>
                <p class="card-text">Desarrolla el mockup de “TRANSFORMACIÓN DIGITAL” en una aplicación frontend con Angularjs, CSS y Bootstrap.</p>
                <a routerLink="/mockup" class="btn primary-color-B text-white">Ver..</a>
            </div>
        </div>
        <div class="card my-3">
            <div class="card-header">
                Prueba técnica - Omar de jesus jimenez solano
            </div>
            <div class="card-body">
                <h5 class="card-title">Consumo de API</h5>
                <p class="card-text">En el mismo proyecto crea una nueva sección y muestra la información de un superhéroe consumiendo el servicio de una API free.</p>
                <a routerLink="/heroes" class="btn primary-color-B text-white">Ver..</a>
            </div>
        </div>
    </div>
</div>