/* You can add global styles to this file, and also import other style files */


/* Colores primarios */

* {
    margin: 0;
    padding: 0;
}

.primary-color-A {
    background-color: #1C8C90;
}

.primary-color-B {
    background-color: #1EBA88;
}

.primary-color-A:hover {
    background-color: #1EBA88;
}

.primary-color-B:hover {
    background-color: #1C8C90;
}